[submodule "zenWallet_contract/lib/uniswap-v2-periphery-SC"]
	path = zenWallet_contract/lib/uniswap-v2-periphery-SC
	url = https://github.com/fullstack-development/uniswap-v2-periphery-SC
[submodule "zen_contract/lib/forge-std"]
	path = zen_contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "test_contract/lib/forge-std"]
	path = test_contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "zen_contract/lib/v2-core"]
	path = zen_contract/lib/v2-core
	url = https://github.com/Uniswap/v2-core
[submodule "zen_contract/lib/v2-periphery"]
	path = zen_contract/lib/v2-periphery
	url = https://github.com/Uniswap/v2-periphery
